#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.intro{
  display: flex;
 background: url("./assets/perrito2.png"); 
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  
}

.home-text{
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  text-align: left;
 color: rgb(255, 255, 255);
 padding: 0 10%;
}
.reserva{
text-align: center;
  margin:40px;
  padding: 10px;
}

.pasos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.servicio-text{
  text-align: center;
  margin:40px;
  padding: 20px;
}
.step-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 33%;
  background-color: #e5d8e18c;
  border-radius: 10px;
  padding: 15px 0;

}

.servicios{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.servicio-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 33%;
  background-color: #e5d8e18c;
  text-align: center;
}

.host-card { 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  margin: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s; 
} 
.host-card:hover { 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} 
.host-card p { 
  margin: 8px 0; 
} 
.host-card .host-name { 
  font-size: 1.5em; 
  font-weight: bold; 
  color: #333; 
} 
.host-card .host-price { 
  font-size: 1.2em; 
  color: #27ae60; 
  font-weight: bold; 
} 
.host-card .host-details { 
  color: #777; 
}  

.intro{
  display: flex;
 background: url("./assets/perrito2.png"); 
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
  
}

.home-text{
  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;
  text-align: left;
 color: rgb(255, 255, 255);
 padding: 0 10%;
}
.reserva{
text-align: center;
  margin:40px;
  padding: 10px;
}

.pasos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.servicio-text{
  text-align: center;
  margin:40px;
  padding: 20px;
}
.step-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 33%;
  background-color: #e5d8e18c;
  border-radius: 10px;
  padding: 15px 0;

}

.servicios{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

.servicio-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 33%;
  background-color: #e5d8e18c;
  text-align: center;
}

.host-card { 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px; 
  margin: 16px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s; 
} 
.host-card:hover { 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
} 
.host-card p { 
  margin: 8px 0; 
} 
.host-card .host-name { 
  font-size: 1.5em; 
  font-weight: bold; 
  color: #333; 
} 
.host-card .host-price { 
  font-size: 1.2em; 
  color: #27ae60; 
  font-weight: bold; 
} 
.host-card .host-details { 
  color: #777; 
}  

.leaflet-container {
  height: 400px;
  width: 90mw;
}


form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 12px;
}